.topnav {

    background-color: gold;
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

.MainBody {

    background-color: lightgray;
}

h1 {
    font-family: Calibri;
    text-align: center;
}

.intro {

    text-align: justify;
}

.topnav a:hover {
    background-color: #ddd;
    color: yellowgreen;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 7px;
    margin-right: 12px;
    font-size: 12px;
}